<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-10-31T15:16:09Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ellenchlachidze/Desktop/EECS 183 /EECS183_lab7/EECS183_lab7.xcodeproj</string>
</dict>
</plist>
